@media screen and (max-width: 768px) {
    .btn-group {
        display: flex;
        flex-direction: column;
    }
}

.vl {
    border-left: 1px solid green;
    height: 80%;
    padding-left: 40px;
}
