<div class="row col-lg-7 ms-3" *ngIf="!editflag">
    <div class="card myborder mt-3">
        <div class="card-header"><i class="bi bi-person-workspace me-2"
                style="font-size: 2rem; color: cornflowerblue;"></i>
            <span style="color:cornflowerblue;">{{comment.name}}</span>
            <div class="float-end mt-3" style="font-size: 1rem; color: cornflowerblue;">12-02-2013</div>
        </div>
        <div class="card-body">
            <p class="card-text">{{comment.comment_text}}</p>
        </div>
        <div class="card-footer">
            <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-outline-success" (click)="togglereply()"><i
                        class="bi bi-reply"></i></button>
                <button type="button" class="btn btn-outline-primary" (click)="edit()"><i
                        class="bi bi-pencil-square"></i></button>
                <button type="button" class="btn btn-outline-danger" (click)="remove()"><i
                        class="bi bi-trash"></i></button>
            </div>
        </div>
    </div>
</div>
<div *ngIf="editflag">
    <app-add-edit-comment></app-add-edit-comment>
</div>
<div *ngIf="replyflag">
    <app-add-edit-comment></app-add-edit-comment>
</div>


<div *ngIf="childComments.length">
    <p class="lead text-muted ms-3"><button class="btn btn-light mt-3" data-bs-toggle="collapse"
            attr.data-bs-target="#demo1{{this.comment.comment_id}}">Replies</button></p>
    <div id="demo1{{this.comment.comment_id}}" class="collapse">
        <div class="vl">
            <app-comments [comments]="childComments"></app-comments>
        </div>
    </div>

</div>