<div class="card">
    <div class="card-body">
        <span class="fs-6 text-primary"><i
                class="bi bi-person-workspace fs-6 text-primary me-2"></i>{{comment.name}}</span>
        <div class="float-end fs-6 text-primary">12-02-2013</div>
        <p class="card-text">{{comment.comment_text}}</p>
        <div class="btn-group btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-outline-success" (click)="togglereply()"><i
                    class="bi bi-reply"></i></button>
            <button type="button" class="btn btn-outline-primary" (click)="edit()"><i
                    class="bi bi-pencil-square"></i></button>
            <button type="button" class="btn btn-outline-danger" (click)="remove()"><i class="bi bi-trash"></i></button>
        </div>
    </div>
</div>
<div *ngIf="editflag">
    <app-add-edit-comment></app-add-edit-comment>
</div>
<div *ngIf="replyflag">
    <app-add-edit-comment></app-add-edit-comment>
</div>


<div *ngIf="childComments.length">
    <p class="lead text-muted ms-3"><button class="btn btn-light mt-3" data-bs-toggle="collapse"
            attr.data-bs-target="#demo1{{this.comment.comment_id}}">Replies</button></p>
    <div id="demo1{{this.comment.comment_id}}" class="collapse">
        <div class="vl">
            <div class="w-100">
                <app-comments [comments]="childComments"></app-comments>
            </div>
        </div>
    </div>

</div>