<div class="container">
    <form class="row g-3 needs-validation" [formGroup]="addEditCommentForm" novalidate (ngSubmit)="onSubmit()">
        <div class="col-8">
            <label for="exampleFormControlTextarea1" class="form-label" *ngIf="isAddMode">Add Comment</label>
            <label for="exampleFormControlTextarea1" class="form-label" *ngIf="!isAddMode">Edit Comment</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" [ngClass]="{
                'is-valid':submitted && comment?.valid,
                'is-invalid':submitted && comment?.invalid
                }" formControlName="comment"></textarea>
            <div class="invalid-feedback" *ngIf="submitted && comment?.invalid">
                <div *ngIf="comment?.getError('required')">comment is required</div>
            </div>
        </div>
        <div class="col-4 d-grid d-md-block mb-3">
            <button class="btn btn-primary " type="submit">Submit form</button>
        </div>
    </form>
</div>