<app-header></app-header>
<div class="container d-flex justify-content-center bg-light">
    <div class="wrapper">
        <div class="text-center p-3">
            <h5>Bug Fixer Tool</h5>
            <p>Reactive Spring Boot Angular tool for record, report, assign and track the bugs in a software systems</p>
        </div>
        <div class="text-center mb-5">
            <img src="/assets/images/tools.svg" alt="Tools image" width="50" height="50">
        </div>
    </div>
</div>
<app-footer></app-footer>