<div class="container-lg bg-light">
    <div class="row justify-content-between py-1">
        <div class="col-md-auto">
            <h1>Bugs List</h1>
        </div>
        <div class="col-md-auto align-self-center">
            <button type="button" class="btn btn-outline-dark">add Bug</button>
        </div>
    </div>
    <div class="row row-cols-md-2 row-cols-xxl-3 g-3">
        <div *ngFor="let issue of test">
            <div class="col">
                <app-bug [bug]="issue"></app-bug>
            </div>
        </div>
    </div>
</div>