<div class="container-lg bg-light py-1">
    <div class="row justify-content-between pt-1 pb-2">
        <div class="col-md-auto">
            <h2>Bugs List</h2>
        </div>
        <div class="col-md-auto align-self-center pt-1">
            <button type="button" class="btn btn-outline-dark">add Bug</button>
        </div>
    </div>
    <div class="row row-cols-md-2 row-cols-xxl-3 g-3">
        <div *ngFor="let issue of test">
            <div class="col">
                <app-bug [bug]="issue"></app-bug>
            </div>
        </div>
    </div>
</div>