<div class="container">
    <div class="text-center mt-5">
        <h2>Get in Touch</h2>
        <p class="lead">Comment form</p>
    </div>
    <form class="row g-3 needs-validation" [formGroup]="commentForm" novalidate (ngSubmit)="onSubmit(1,1)">
        <div class="col-12">
            <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <div class="d-grid d-md-block mb-3">
            <button class="btn btn-primary " type="submit">Submit form</button>
        </div>
    </form>
</div>