<div class="container-md d-flex justify-content-center align-items-center bg-light">
    <div class="w-md-80">
        <div class="text-center p-3">
            <h1 *ngIf="isAddMode">Add Bug Form</h1>
            <h1 *ngIf="!isAddMode">Edit Bug Form</h1>
        </div>
        <div class="shadow-sm p-3 mb-5 bg-body-tertiary rounded">
            <form class="row g-3 needs-validation" [formGroup]="addEditBugForm" novalidate (ngSubmit)="onSubmit()">
                <div class="is-valid">
                    <label for="bugTitle" class="form-label" [ngClass]="{
              'text-success':submitted && bugTitle?.valid,
              'text-danger':submitted && bugTitle?.invalid
              }">Bug Title</label>
                    <input type="text" class="form-control" id="bugTitle" [ngClass]="{
                'is-valid':submitted && bugTitle?.valid,
                'is-invalid':submitted && bugTitle?.invalid
                }" formControlName="bugTitle">
                    <div class="invalid-feedback" *ngIf="submitted && bugTitle?.invalid">
                        <div *ngIf="bugTitle?.getError('required')">Bug Title is required</div>
                    </div>
                </div>
                <div class="is-valid">
                    <label for="description" class="form-label" [ngClass]="{
                        'text-success':submitted && description?.valid,
                        'text-danger':submitted && description?.invalid
                        }">Description</label>
                    <textarea class="form-control" id="description" rows="3" [ngClass]="{
                        'is-valid':submitted && description?.valid,
                        'is-invalid':submitted && description?.invalid
                        }" formControlName="description">></textarea>
                    <div class="invalid-feedback" *ngIf="submitted && description?.invalid">
                        <div *ngIf="description?.getError('required')">Description is required</div>
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="inputState" class="form-label">Assign to</label>
                    <select id="inputState" class="form-select">
                        <option selected>Choose...</option>
                        <option *ngFor="let account of accounts">{{account.username}}</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <label for="inputState" class="form-label">State</label>
                    <select id="inputState" class="form-select">
                        <option selected>Choose...</option>
                        <option>...</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <label for="inputState" class="form-label">Priority</label>
                    <select id="inputState" class="form-select">
                        <option selected>Choose...</option>
                        <option>...</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <label for="inputState" class="form-label">Severity</label>
                    <select id="inputState" class="form-select">
                        <option selected>Choose...</option>
                        <option>...</option>
                    </select>
                </div>
                <div class="is-valid">
                    <label for="stepsToReproduce" class="form-label" [ngClass]="{
                        'text-success':submitted && stepsToReproduce?.valid,
                        'text-danger':submitted && stepsToReproduce?.invalid
                        }">Steps To Reproduce</label>
                    <textarea class="form-control" id="stepsToReproduce" rows="3" [ngClass]="{
                        'is-valid':submitted && stepsToReproduce?.valid,
                        'is-invalid':submitted && stepsToReproduce?.invalid
                        }" formControlName="stepsToReproduce">></textarea>
                    <div class="invalid-feedback" *ngIf="submitted && stepsToReproduce?.invalid">
                        <div *ngIf="stepsToReproduce?.getError('required')">Steps To Reproduce is required</div>
                    </div>
                </div>
                <div class="is-valid">
                    <label for="expectedResult" class="form-label" [ngClass]="{
                        'text-success':submitted && expectedResult?.valid,
                        'text-danger':submitted && expectedResult?.invalid
                        }">Expected Result</label>
                    <textarea class="form-control" id="expectedResult" rows="3" [ngClass]="{
                        'is-valid':submitted && expectedResult?.valid,
                        'is-invalid':submitted && expectedResult?.invalid
                        }" formControlName="expectedResult">></textarea>
                    <div class="invalid-feedback" *ngIf="submitted && expectedResult?.invalid">
                        <div *ngIf="expectedResult?.getError('required')">Expected Result is
                            required
                        </div>
                    </div>
                </div>
                <div class="is-valid">
                    <label for="actualResult" class="form-label" [ngClass]="{
                        'text-success':submitted && actualResult?.valid,
                        'text-danger':submitted && actualResult?.invalid
                        }">Actual Result</label>
                    <textarea class="form-control" id="actualResult" rows="3" [ngClass]="{
                        'is-valid':submitted && actualResult?.valid,
                        'is-invalid':submitted && actualResult?.invalid
                        }" formControlName="actualResult">></textarea>
                    <div class="invalid-feedback" *ngIf="submitted && actualResult?.invalid">
                        <div *ngIf="actualResult?.getError('required')">Actual Result is
                            required
                        </div>
                    </div>
                </div>
                <div class="is-valid">
                    <label for="screenShotUrl" class="form-label" [ngClass]="{
              'text-success':submitted && screenShotUrl?.valid,
              'text-danger':submitted && screenShotUrl?.invalid
              }">Screen Shot Url</label>
                    <input type="text" class="form-control" id="screenShotUrl" [ngClass]="{
                'is-valid':submitted && screenShotUrl?.valid,
                'is-invalid':submitted && screenShotUrl?.invalid
                }" formControlName="screenShotUrl">
                    <div class="invalid-feedback" *ngIf="submitted && screenShotUrl?.invalid">
                        <div *ngIf="screenShotUrl?.getError('required')">Screen Shot Url is required</div>
                    </div>
                </div>
                <div class="d-flex flex-row-reverse">
                    <button class="btn btn-sm btn-primary ms-1" (click)="back()">Cancel</button>
                    <button class="btn btn-sm btn-primary" type="submit">Submit form</button>
                </div>
            </form>
        </div>
    </div>
</div>