<div class="container bg-light">
    <div class="w-lg-80">
        <div class="p-1">
            <h2>bugTitle Details</h2>
        </div>
        <ul class="list-group">
            <li class="list-group-item">
                <p><span>AssignTo :</span> Lorem ipsum dolor</p>
            </li>
            <li class="list-group-item">
                <p><span>Priority :</span> Lorem ipsum dolor si</p>
            </li>
            <li class="list-group-item">
                <p><span>Severity :</span> Lorem ipsum dolor si</p>
            </li>
            <li class="list-group-item">
                <p><span>Created at :</span> 00.00.2023</p>
            </li>
            <li class="list-group-item">
                <p><span>Last Modified at :</span> 00.00.2023</p>
            </li>
            <li class="list-group-item">
                <p><span>Description :</span> Lorem ipsum dolor sit amet, consectetur adipisci elit, sed eiusmod</p>
            </li>
            <li class="list-group-item">
                <p><span>StepsToReproduce :</span> Lorem ipsum dolor sit amet, consectetur adipisci elit, sed eiusmod
                </p>
            </li>
            <li class="list-group-item">
                <p><span>Expected Result :</span> Lorem ipsum dolor sit amet, consectetur adipisci elit, sed eiusmod</p>
            </li>
            <li class="list-group-item">
                <p><span>Actual Result :</span> Lorem ipsum dolor sit amet, consectetur adipisci elit, sed eiusmod</p>
            </li>
            <li class="list-group-item">
                <p><span>Go to Bug Screen Shot :</span> </p>
            </li>
        </ul>
    </div>
</div>
<div class="container bg-light">
    <div>
        <button class="btn btn-outline-primary my-2" data-bs-toggle="collapse" data-bs-target="#demo">Comments</button>
        <div id="demo" class="collapse">
            <app-add-edit-comment (cancelComment)="update($event)"></app-add-edit-comment>
            <app-comments [comments]="rootComments"></app-comments>
        </div>
    </div>
</div>