<div class="container d-flex justify-content-center align-items-cente bg-light">
    <div class="wrapper">
        <div class="row justify-content-between py-3">
            <div class="col-auto">
                <h2>Bugs List</h2>
            </div>
            <div class="col-auto">
                <button type="button" class="btn btn-outline-dark" (click)="addBug()">Add Bug</button>
            </div>
        </div>
        <div class="row row-cols-md-2 row-cols-xxl-3 g-3">
            <div *ngFor="let issue of test">
                <div class="col">
                    <app-bug [bug]="issue"></app-bug>
                </div>
            </div>
        </div>
    </div>
</div>
<button type="button" class="returnBottomClass btn" (click)="logout()"><i class="bi bi-box-arrow-right"></i></button>