<div class="card border-0 shadow-sm bg-body-tertiary rounded">
  <div class="card-body">
    <h5 class="card-title text-muted">
      <i>Bug Title: </i>{{ " " + bug.bugtitle }}
    </h5>
    <h6 class="card-subtitle mb-2 text-muted">
      <i>Priority:</i>{{ " " + bug.priority }}
    </h6>
    <h6 class="card-subtitle mb-2 text-muted">
      <i>Status:</i>{{ " " + bug.status }}
    </h6>
    <h6 class="card-subtitle mb-2 text-muted">
      <i>AssignTo:</i>{{ " " + bug.account_id }}
    </h6>
    <p class="card-text">
      <i class="text-muted">Description: </i>{{ " " + bug.description }}
    </p>
    <h6 class="card-subtitle mb-2 text-muted">
      <i>Modified:</i>{{ " " + bug.modified }}
    </h6>
    <div class="d-flex flex-row-reverse">
      <div class="btn-group btn-group-sm">
        <button
          type="button"
          class="btn btn-outline-danger"
          (click)="removeBug()"
        >
          <i class="bi bi-trash"></i>
        </button>
        <button
          type="button"
          class="btn btn-outline-primary"
          (click)="editBug()"
        >
          <i class="bi bi-pencil-square"></i>
        </button>
        <button
          type="button"
          class="btn btn-outline-success"
          (click)="bugDetails()"
        >
          <i class="bi bi-three-dots"></i>
        </button>
      </div>
    </div>
  </div>
</div>
