// Custom.scss
// Option B: Include parts of Bootstrap

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/root";
@import "../node_modules/bootstrap/scss/helpers";
@import "../node_modules/bootstrap/scss/utilities/api";

// 2. Include any default variable overrides here
$custom-colors: (
    "altlight": #dede17,
    "altdark": #6c63f7,
);

// 3. Include remainder of required Bootstrap stylesheet

// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-colors);

$utilities: (
    "width": (
        property: width,
        responsive: true,
        class: w,
        values: (
            25: 25%,
            50: 50%,
            75: 75%,
            100: 100%,
            auto: auto,
        ),
    ),
);
// 4. Include any optional Bootstrap CSS as needed
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/tables";
@import "../node_modules/bootstrap/scss/forms";
@import "../node_modules/bootstrap/scss/buttons";
@import "../node_modules/bootstrap/scss/transitions";
@import "../node_modules/bootstrap/scss/dropdown";
@import "../node_modules/bootstrap/scss/button-group";
@import "../node_modules/bootstrap/scss/nav";
@import "../node_modules/bootstrap/scss/navbar";
@import "../node_modules/bootstrap/scss/card";
@import "../node_modules/bootstrap/scss/breadcrumb";
@import "../node_modules/bootstrap/scss/list-group";
@import "../node_modules/bootstrap/scss/close";
@import "../node_modules/bootstrap/scss/placeholders";
@import "../node_modules/bootstrap/scss/tooltip";
//

// 5. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "../node_modules/bootstrap-icons/font/bootstrap-icons.css"; // 6. Add additional custom code here
@import "../node_modules/alertifyjs/build/css/alertify.min.css";
@import "../node_modules/alertifyjs/build/css/themes/bootstrap.min.css";
@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap-icons/font/bootstrap-icons.css";

body {
    background-color: rgba(252, 253, 245, 0.973);
}
.returnBottomClass {
    width: 30px;
    height: 30px;
    background: #1f96e0;
    margin: 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 40%;
    color: #ffffff;
    font-size: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
    position: fixed;
    right: 5px;
    top: 15px;
    outline: rgb(245, 4, 4);
    border: none;
    cursor: pointer;
    &:hover {
        color: #ffffff;
        background-color: #2b4afd;
    }
    &:active {
        color: #ffffff;
        background-color: rgb(68, 4, 245);
    }
    @media screen and (max-width: 720px) {
        display: none;
    }
}
.tooltip {
    background-color: #1f96e0;
}
@media screen and (max-width: map-get($grid-breakpoints, sm)) {
    .card {
        font-size: 1.1rem;
    }
}
.wrapper {
    padding: 5px;
    background-color: #f2f60e6f;
    @media screen and (min-width: 720px) {
        background-color: #94fd2b;
    }
}
