<div class="container-lg bg-info">
    <div class="row">
        <div class="col">
            <h2 class="text-muted">bugTitle Details</h2>
            <p class="lead"></p>
        </div>
    </div>
    <ul class="list-group list-group-flush">
        <div class="row">
            <div class="col">
                <li class="list-group-item">
                    <h5 class="mb-1">AssignTo:</h5>
                </li>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <li class="list-group-item">
                    <h5 class="mb-1">Priority:</h5>
                </li>
            </div>
            <div class="col-lg-6">
                <li class="list-group-item">
                    <h5 class="mb-1">Severity:</h5>
                </li>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <li class="list-group-item">
                    <h5 class="mb-1">Created at:</h5>
                </li>
            </div>
            <div class="col-lg-6">
                <li class="list-group-item">
                    <h5 class="mb-1">Last Modified at:</h5>
                </li>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <li class="list-group-item">
                    <h5 class="mb-1">Description:</h5>
                </li>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <li class="list-group-item">
                    <h5 class="mb-1">StepsToReproduce:</h5>
                </li>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <li class="list-group-item">
                    <h5 class="mb-1">ExpectedAndActualResult:</h5>
                </li>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <li class="list-group-item">
                    <h5 class="mb-1">Go to Bug Screen Shot:</h5>
                </li>
            </div>
        </div>
    </ul>
</div>
<div class="container-lg bg-info">
    <div class="row">
        <div class="col my-3">
            <button class="btn btn-light btn-lg" data-bs-toggle="collapse" data-bs-target="#demo">Comments</button>
        </div>
    </div>
    <div id="demo" class="collapse">
        <app-add-edit-comment></app-add-edit-comment>
        <app-comments [comments]="rootComments"></app-comments>
    </div>
</div>