<section class="bg-light mt-5">
    <div class="container-lg">
        <div class="text-center mt-5">
            <h2>Bug Details</h2>
            <p class="lead"></p>
        </div>
        <div class="card border-0">
            <div class="card-body">
                <h5 class="card-title text-muted"><i>bugTitle:</i></h5>
                <h6 class="card-subtitle mb-2 text-muted"><i>priority:</i></h6>
                <h6 class="card-subtitle mb-2 text-muted"><i>status:</i></h6>
                <h6 class="card-subtitle mb-2 text-muted"><i>assignTo:</i></h6>
                <p class="card-text"><i class="text-muted">description:</i>Some quick example text to build on the card
                    title
                    and make up the bulk of the
                    card's
                    content.</p>
                <h6 class="card-subtitle mb-3 text-muted"><i>LastModifiedDate:</i></h6>
                <button type="button" class="btn btn-outline-success">comments</button>
            </div>
        </div>
    </div>
</section>